.pack-card{
    padding-top: 20px;
    padding-bottom: 25px;
    // margin-right: 10px;
}

.card {
    width: 30rem,
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.col {
    margin-top: 10px;
} 

.row {

    align-items: center;
}