.navbar-brand{
    padding: 50px 50px ;
    padding-right: 30px;
    // font-size: larger;
}

.nav-link{
    align-self: center;
    padding-left: 60px;
    padding-right: 30px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}